.name {
  font-family: Baloo Bhai;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: gray;
}

.active {
  color: black;
}

.rectangle4 {
  width: 45vw;
  height: 80px;
  background-color: #f5f5f7;
  border-radius: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.caption {
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 5px;
}

.card {
  width: 208px;
  height: 96.33px;
  background: #f5f5f7;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: 15px;
}

.num {
  font-family: Baloo Bhai;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 102px;
}

.txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: auto;
}

.dropdown {
  background: #f5f5f7;
  font-weight: bold;
  padding: 1%;
  border-radius: 8px;
}

.react-player {
  width: 60vw;
  height: 70vh;
}

.progress {
  width: 45px;
  height: 45px;
}

.courseprogress {
  width: 15vw;
  height: 15vh;
  margin-top: 15vh;
}

@media (max-width: 900px) {
  .rectangle4 {
    width: 80vw;
  }

  .react-player {
    width: 90vw;
  }

  .courseprogress {
    width: 45vw;
    height: 45vh;
    margin-left: 30vw;
  }
}

@media (max-width: 480px) {
  .rectangle4 {
    width: 100vw;
  }
  .react-player {
    width: 90vw;
  }
}
